<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменение элемента</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <h2 class="text-center mb-4">Изменение элемента</h2>

    <form th:action="@{/user/message/{id}/edit(id=${item.id})}" th:method="POST" th:object="${item}">
        <div class="form-group">
            <label for="textMessage">Текст сообщения:</label>
            <textarea class="form-control" id="textMessage" name="textMessage" rows="4" th:field="${item.textMessage}" required></textarea>
        </div>

<!--        <div class="form-group">-->
<!--            <label for="numberMessage">Номер сообщения:</label>-->
<!--            <input type="number" class="form-control" name="numberMessage" id="numberMessage" min="1" th:field="${item.numberMessage}" required>-->
<!--        </div>-->

<!--        <div class="form-group form-check">-->
<!--            <input class="form-check-input" type="checkbox" id="isUserMessage" name="isUserMessage" th:checked="${item.isUserMessage}">-->
<!--            <label class="form-check-label" for="isUserMessage">Это пользовательское сообщение?</label>-->
<!--        </div>-->

        <div class="form-group">
            <label for="chat">Чат:</label>
            <select class="form-control" id="chat" name="chat" required>
                <option th:each="chat : ${chats}" th:value="${chat.id}" th:text="${chat.nameChat}" th:selected="${chat.id == item.chat.id}"></option>
            </select>
        </div>

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-success btn-lg">Сохранить изменения</button>
            <a href="/user/messages" class="btn btn-secondary btn-lg ml-2">Назад</a>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
