<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <div class="card mx-auto" style="max-width: 400px;">
        <div class="card-header">Добро пожаловать!</div>
        <div class="card-body">
            <div class="text-center mt-3">
                <a href="/auth" class="btn btn-primary btn-block">Войти</a>
            </div>

            <div class="text-center mt-3">
                или
            </div>

            <div class="text-center mt-3">
                <a href="/registration" class="btn btn-success btn-block">Зарегистрироваться</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
