<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-2">
    <div class="text-right">
        <a href="/logout" class="btn btn-danger">Выход</a>
    </div>

    <div class="card mx-auto mt-3" style="max-width: 400px;">
        <div class="card-header">Главная страница работника</div>
        <div class="card-body">
            <div class="text-center mt-3">
                <a href="/employee/models" class="btn btn-info btn-block">Модели</a>
            </div>

            <div class="text-center mt-3">
                <a href="/employee/modules" class="btn btn-info btn-block">Модули</a>
            </div>

            <div class="text-center mt-3">
                <a href="/employee/tarifes" class="btn btn-info btn-block">Тарифы</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
